<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"  
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"  
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<TITLE>SpringDemo2001</TITLE>
		<META name="description" content="THORNBIRD.COM"/>

		<!-- 引入js和css -->
		<script th:src="@{http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js}"></script>
	</head>

	<body>
			<div>
This is test module index page.

	<p>==================================================================</p>
	<h3>th:text</h3>
	<h1 th:text="${thymeleafTitle}"></h1>
	<p th:text="${thymeleafTitle}"></p>
	<p>==================================================================</p>
	<h3>th:if,th:unless.</h3>
	<p th:if="${checked} == true">If true, this will display</p>
	<p th:unless="${checked} == false">If not false, this will display</p>
	<p th:if="${currentNumber}&lt;100">print if the currentNumber &lt;100</p>
	<p th:if="${thymeleafTitle} == null">name is null</p>
	<p>==================================================================</p>
	<h3>th:attr</h3>
	checkbox:<input type="text" th:attr="type=${changeType}" th:checked="${checked}"/>
	<p>==================================================================</p>
	<h3>url,href</h3>
	<a th:href="@{http://www.baidu.com}" target="_blank">Click it to turn to baidu</a><br>
	<a th:href="${baiduUrl}" target="_blank">Click it to turn to Shop beauty</a><br>
	<img th:src="@{${shopLogo}}"/>
	
		<table>
	    <th>cityId</th><th>cityName</th><th>countryId</th>
	    <tr th:each="city : ${cities}">
		    <td th:text="${city.cityId}"></td>
		    <td th:text="${city.cityName}"></td>
		    <td th:text="${city.countryId}"></td>
		    <td>
		    	<!-- 拼接path参数 -->
		    	<a th:href="@{'/test/index/'+${city.cityId}}" th:text="${city.cityName}"></a>
		    </td>
		    <td>
		    	<!-- 拼接查询参数 -->
		    	<a th:href="@{/test/index(pageSize=${city.cityId},currentPage='1')}" 
		    		th:text="${city.cityName}"></a>
		    </td>
	    </tr>
	</table>
	
	<p>==================================================================</p>
 	<h3>file upload and downlod</h3>
 	<a href="/test/download?fileName=164006021008-胡洋-毕业设计情况说明.docx">download file</a>
 	<br>

 	<p th:text="${message}"></p>
 	<p>上传文件，使用multipart/form-data类型</p>
 	<form action="/test/file" method="post" enctype="multipart/form-data">
 		<input type="file" name="file">
 		<button type="submit">上传</button>
 	</form>
 	<br>

 	<form action="/test/files" method="post" enctype="multipart/form-data">
 		<input type="file" name="files">
 		<input type="file" name="files">
 		<button type="submit">上传</button>
 	</form>
	
</div> 
	</body>
</html> 